In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('covid_toy.csv')

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [7]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [8]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [9]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

### conclusion

 - Fever => `SimpleImputer`
 - Cough => `Ordinal Encoding`
 - City and Gender => `One Hot Encoding`

In [10]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [11]:
X = df.drop(columns=['has_covid'])
y = df['has_covid']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [13]:
X_train.head()

    age  gender  fever   cough       city
61   81  Female   98.0  Strong     Mumbai
5    84  Female    NaN    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
66   51    Male  104.0    Mild    Kolkata
41   82    Male    NaN    Mild    Kolkata

In [14]:
print(X_train.shape, X_test.shape)

(80, 5) (20, 5)

### Without Column Transformer

In [15]:
# Imputer on fever column
simple_I = SimpleImputer()
X_train_fever = simple_I.fit_transform(X_train[['fever']])
X_test_fever  = simple_I.fit_transform(X_test[['fever']])

In [16]:
# missing values are filled with mean
X_train_fever

array([[ 98.       ],
       [100.8630137],
       [101.       ],
       [104.       ],
       [100.8630137],
       [100.       ],
       [100.       ],
       [103.       ],
       [ 98.       ],
       [ 99.       ],
       [104.       ],
       [100.       ],
       [100.       ],
       [101.       ],
       [ 98.       ],
       [100.       ],
       [101.       ],
       [101.       ],
       [100.       ],
       [ 99.       ],
       [101.       ],
       [102.       ],
       [104.       ],
       [ 98.       ],
       [ 98.       ],
       [102.       ],
       [104.       ],
       [ 98.       ],
       [101.       ],
       [102.       ],
       [102.       ],
       [103.       ],
       [100.       ],
       [100.8630137],
       [103.       ],
       [104.       ],
       [102.       ],
       [ 98.       ],
       [103.       ],
       [101.       ],
       [ 98.       ],
       [101.       ],
       [102.       ],
       [ 99.       ],
       [102.       ],
       [102.       ],
       [101.       ],
       [ 98.       ],
       [100.       ],
       [ 98.       ],
       [104.       ],
       [101.       ],
       [ 98.       ],
       [104.       ],
       [100.8630137],
       [ 99.       ],
       [101.       ],
       [100.8630137],
       [101.       ],
       [ 98.       ],
       [104.       ],
       [101.       ],
       [ 98.       ],
       [100.8630137],
       [100.       ],
       [104.       ],
       [ 99.       ],
       [100.8630137],
       [104.       ],
       [100.       ],
       [104.       ],
       [ 99.       ],
       [101.       ],
       [102.       ],
       [100.       ],
       [103.       ],
       [ 98.       ],
       [101.       ],
       [104.       ],
       [101.       ]])

In [17]:
# Ordinal Encoding on Cough

ordEncode = OrdinalEncoder(categories=[['Mild', 'Strong']])
X_train_cough = ordEncode.fit_transform(X_train[['cough']])
X_test_cough  = ordEncode.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [18]:
# OneHotEncoding on Gender and City

ohe = OneHotEncoder(drop='first')
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city  = ohe.fit_transform(X_test[['gender', 'city']])
X_train_gender_city.shape

(80, 4)

In [19]:
X_train_gender_city

<80x4 sparse matrix of type '<class 'numpy.float64'>'
	with 89 stored elements in Compressed Sparse Row format>

In [20]:
# Extracting Age 
X_train_age = X_train.drop(columns=['gender', 'fever', 'cough', 'city']).values
X_test_age  = X_test.drop(columns=['gender', 'fever', 'cough', 'city']).values
X_train_age.shape

(80, 1)

In [21]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_cough),axis=1)

X_train_transformed.shape

(80, 3)

In [22]:
print(X_train_age.shape,X_train_fever.shape,X_train_gender_city.shape,X_train_cough.shape)

(80, 1) (80, 1) (80, 4) (80, 1)

### With Column Transformer

In [23]:
from sklearn.compose import ColumnTransformer

In [27]:
transforemer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(),['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild','Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(drop='first'),['gender','city'])
],remain

NameError: name 'tnf3' is not defined